:root {
  --background-color: #000;
  --border-color: #aaa;
  --button-color: #e50914;
}
* {
  margin: 0;
  padding: 0;
}
button {
  color: #fff;
}
body {
  background: var(--background-color);
  font-family: "Inter";
  color: #fff;
}
.header {
  height: 708px;
  position: relative;
  overflow: hidden;
  background: url("/images/header-img.jpg") no-repeat center center/cover;
  border-bottom: 8px solid #222222;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.4),
      transparent 40%
    ),
    linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.4),
      transparent 50%
    );
}
.header-top {
  height: 86px;
  width: 1429.83px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  padding: 0;
  padding: 0px 200.594px 0px 200.578px;
}
.logo {
  height: 40px;
  width: 148px;
}
.header-buttons-top {
  display: flex;
  align-items: center;
}
.header-buttons-top .select-language-container {
  position: relative;
}
.select-language-container img {
  position: absolute;
  width: 17px;
  height: 17px;
  bottom: 8px;
  left: 25px;
}
.select-language {
  position: relative;
  width: 132px;
  height: 32px;
  min-height: 16px;
  background: transparent;
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2rem;
  padding: 6px 36px;
  margin: 0px 12px;
  appearance: none;
  background-image: url("/images/down-arrow.png");
  background-repeat: no-repeat;
  background-position: right 15px top 11.9px;
  background-size: 9px 8px;
  border: 1px solid rgba(111, 109, 109, 0.719);
  border-radius: 5px;
}
.sign-in-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76.91px;
  height: 32px;
  min-height: 32px;
  background: var(--button-color);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 13.5px;
  padding: 4px 16px;
  margin-left: 12px;
  font-weight: 500;
  line-height: 14px;
}
.sign-in-section:hover {
  opacity: 0.8;
}
.header-bottom {
  position: relative;
  text-align: center;
  z-index: 2;
}
.header-bottom h1 {
  margin-top: 20px;
  font-size: 48px;
  font-weight: 700;
}
.header-bottom h3 {
  margin: 16px 0px 15px;
  font-size: 23.3px;
}
.header-bottom h5 {
  font-size: 20px;
  font-weight: 30px;
  margin: 20px 0px 20px;
}
.header-bottom input {
  position: relative;
  width: 376.97px;
  height: 56px;
  font-size: 16px;
  font-weight: lighter;
  padding: 14px 16px 14px;
  border-radius: 5px;
}
.header-bottom input:focus + span {
  top: 16%;
  font-size: 12px;
  font-weight: lighter;
}
.btn-search {
  font-size: 24px;
  text-transform: capitalize;
  height: 56px;
  width: 201.03px;
  background: var(--button-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 3px;
  padding: 12px 19px 12px 20px;
}
.btn-search img {
  width: 28px;
  height: 20px;
  transform: rotate(-90deg);
  bottom: 23px;
  right: 20px;
}
.btn-search:hover {
  opacity: 0.8;
}
.section-two {
  display: flex;
  align-items: center;
  height: 100%;
  border-bottom: 8px solid #222222;
  padding: 72px 198.5px;
}
.text-container {
  padding: 0;
}
.text-container h1 {
  font-size: 48px;
  margin-bottom: 16px;
  font-weight: bold;
}
.text-container h2 {
  font-weight: 400;
  font-size: 24px;
}
.media-container {
  position: relative;
  padding: 0;
}
.tv {
  position: relative;
  width: 698.5px;
  height: 523.88px;
  z-index: 2;
}
.media-container .video {
  position: absolute;
  z-index: 1;
  width: 500px;
  height: 490px;
  top: 0px;
  left: 100px;
}
.section-two-second-part {
  position: relative;
  height: 536.88px;
}
.media-container .img1 {
  position: relative;
  width: 518.5px;
  height: 388.88px;
  z-index: 1;
}
.black-card {
  position: absolute;
  z-index: 2;
  background-color: #000;
  width: 287.25px;
  height: 96px;
  border: 2px solid #404040;
  border-radius: 12px;
  top: 265px;
  left: 115px;
  padding-top: 22px;
  padding-left: 85px;
  font-size: 16px;
  box-shadow: 0 0 30px #000000;
}
.black-card a {
  color: #0071eb;
  font-size: 14px;
  text-decoration: none;
}
.media-container .img2 {
  position: absolute;
  z-index: 4;
  width: 51.42px;
  height: 72px;
  left: 130px;
  top: 275px;
}
.media-container .img3 {
  position: absolute;
  z-index: 4;
  left: 344px;
  top: 285px;
  width: 48px;
  height: 60px;
}
.section-two-third-part {
  height: 536.88px;
}
.tv2 {
  position: relative;
  width: 518.5px;
  height: 388.88px;
  z-index: 3;
}
.video2 {
  position: absolute;
  top: 0px;
  left: 90px;
  width: 330px;
  height: 250px;
  z-index: 2;
}
.qa-section {
  text-align: center;
  border-bottom: 8px solid #222222;
  margin: 0px 20px;
}
.qa-section h1 {
  margin-top: 72px;
  font-size: 48px;
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: 1.2px;
}
.qa-section .wrapper {
  display: block;
  margin: 0px auto;
  max-width: 1429.83px;
  font-size: 23px;
  font-weight: lighter;
}
.question {
  position: relative;
  background-color: #303030;
  cursor: pointer;
  user-select: none;
  padding: 24px;
  font-size: 23px;
  margin-bottom: 1px;
}
.question::after {
  content: "+";
  position: absolute;
  top: 12px;
  right: 2rem;
}
.answer {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.035s;
  line-height: 1.3;
  background: #303030;
  margin-bottom: 8px;
}
.question.open + .answer {
  opacity: 1;
  overflow: visible;
  height: 100%;
  padding: 24px;
}
.question.open::after {
  content: "x";
}
.qa-bottom {
  margin-bottom: 72px;
}
.qa-bottom h5 {
  margin: 50px 0px 20px;
}
.footer {
  padding: 70px 0px 30px;
  margin: 0px 200.594px 0px 180px;
}
.footer-container {
  color: rgba(255, 255, 255, 0.771);
}
.footer-container h4 {
  margin-bottom: 30px;
  font-weight: lighter;
  text-align: start;
  color: #ffffffb3;
  font-size: 16px;
  font-weight: lighter;
}
.footer-container a {
  color: #ffffffb3;
  text-decoration: underline;
  font-size: 14px;
  font-weight: lighter;
  text-decoration-color: #fff;
}
.footer-coontent-link {
  display: grid;
  grid-template-columns: 1fr;
  line-height: 32px;
}
.select-footer-container {
  position: relative;
  margin: 30px 0px;
}
.select-footer-container img {
  top: 8px;
  left: 10px;
}
.select-footer-container select {
  margin: 0px;
}
.firm-name {
  margin-top: 25px;
  font-weight: lighter;
  font-size: 13px;
}
@media (max-width: 1279px) {
  .header-top {
    padding: 0px 31px;
    height: 78px;
  }
  .select-language {
    margin: 0px 4px;
  }
  .sign-in-section {
    margin-left: 4px;
  }
  .select-language-container .global-language {
    left: 18px;
  }
  .section-two {
    height: 598.75px;
    padding: 72px 32px;
  }
  .tv{
    width: 601px;
    height: 450.75px;
  }
  .media-container .video {
    width: 458px;
    height: 270px;
    top: 80px;
    left: 80px;
  }
}
@media (max-width: 959px) {
  .header {
    height: 520px;
  }
  .logo {
    height: 24px;
    width: 89px;
  }
  .select-language-container .global-language {
    left: 20px;
  }
  .header-bottom h1 {
    font-size: 32px;
  }
  .header-bottom h3 {
    font-size: 18px;
    margin: 16px 0px 30px;
  }
  .header-bottom h5 {
    font-weight: 20px;
  }
  .media-container .tv {
    width: 530.19px;
    height: 397.64px;
  }
  .media-container .video {
    width: 388px;
    height: 240px;
    top: 70px;
    left: 70px;
  }
  .section-two {
    height: 731px;
    margin: 0px 111.141px;
    text-align: center;
  }
  .text-container h1 {
    font-size: 32px;
  }
  .text-container h2{
    font-size: 18px;
  } 
  .tv{
    width: 640px;
    height: 480px;
  }
  .media-container .video {
    width: 458px;
    height: 270px;
    top: 80px;
    left: 80px;
  }
}
